# Week 4 Assignment

## Problems

In the business perspective, before launching any new businesses, to be able to know suitable location before launching the businesses is quite important, expectially in the competitve market. From week 3 assignment, we can see that in Toronto, Ontario, there are many businesses within the cities. In fact, when it comes to the first tier cities, i.e., London, New York, Beijing, Tokyo, to be able to launch new businesses, it is a hard problem as there are many choices for customer. Therefore, in this assignment, we will perform a task to observe the exist businesses with ranking in top 10 venues in three cities in Ontario, Canada, where the zipcode is started with M.

## Description

In Canada, there are many provinces, which Ontario is one of the provinces. From Wikipedia website, Ontario is the most populous province in Canada, where people live in Ontario about 40%. So, it means that in Ontario, the businesses, education, and others should be developed further than other provinces. However, when it comes to 2020, which the world is running with competitive market, it is undeniable that more popular city tends to have more competitive market wihtin the city, resulting in harder to launch the new business successfully. In addition, when it comes to lower tier cities, for instance, in UK case, the first tier city is London, while the second tier maybe Kent, it is still not easy to launch the new business as well as we need to evaluate the consumption and behavior of the people who live in that cities. In this assignment, we will use the basic model to observe the top 10 businesses within Toronto, and other two cities within Ontario province, which are Scarborough, and York. We will use the zipcode as an indicator to link to those cities.

However, as Ontario is very big, to make thing simpler, we will look into the cities where the zipcode is started with M.

To be able to do this assignment, we need the data, which the first data is the list of the zipcode in Ontario which started with M. The link to the data is here: https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M

The second data that we need is the location, i.e., latitude and longitude of the each cities which this link to the data is here: http://cocl.us/Geospatial_data

However, to access the venues location, we still need another data which it can be done using Foursquare API, which we can get all the venues in selected cities.

## The following code represents the data from the first source and second source

In [1]:
import numpy as np 

import pandas as pd

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
df = pd.read_html(url) # Returns list of all tables on page
df = df[0] # Select table of interest
df.columns = ["PostalCode", "Borough", "Neighborhood"]
df.head()

  PostalCode           Borough               Neighborhood
0        M1A      Not assigned               Not assigned
1        M2A      Not assigned               Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

In [3]:
#Replace "Not Assign in both borough and neighborhood columns with NaN"
df["Borough"].replace("Not assigned", np.NaN, inplace=True)
df.dropna(subset=["Borough", "Neighborhood"], inplace=True)
df.head()

  PostalCode           Borough                                 Neighborhood
2        M3A        North York                                    Parkwoods
3        M4A        North York                             Victoria Village
4        M5A  Downtown Toronto                    Regent Park, Harbourfront
5        M6A        North York             Lawrence Manor, Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [4]:
#Group the data by all feature and join the data set to be one table before reset the index
df_1 = df.groupby(['PostalCode', 'Borough'])['Neighborhood'].apply(', '.join).reset_index()
df_1.columns = ['PostalCode', 'Borough', 'Neighborhood']
df_1.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [5]:
df_2 = pd.read_csv("http://cocl.us/Geospatial_data")
df_2.head()
#Set the column to be the same, i.e. Postal Code to PostalCode
df_2.columns = ["PostalCode", "Latiutude", "Longitude"]
df_2.head()

  PostalCode  Latiutude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [6]:
df_merge = pd.merge(left = df_1, right = df_2, on = "PostalCode")
df_merge.head()
df_merge.columns = ["PostalCode", "Borough", "Neighborhood", "Latitude", "Longitude"]
df_merge.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476